body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .game-area {
    position: relative;
    height: 100vh;
    border: 1px solid black;
  }

  #number {
    font-size: 50px;
    color: black;
  }

  #number_box {
    position: absolute;
    width: 100px;
    height: 50px;
    transform: translateY(-20px);
    text-align: center;
  }

  #n1_button {
    position: absolute;
    width: 150px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    transform: translateX(-20px);
  }

  #n2_button {  
    position: absolute;
    width: 150px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    transform: translateX(-20px);
  }